# Autoconf-related stuff
.deps
.libs
*~
*.swp
*.db
__db.001
__db.002
__db.003
Makefile
aclocal.m4
autom4te.cache
compile
config.h
config.h.in~
config.log
config.status
# These should be updated to the most recent version possible
config.sub
config.guess
configure.scan
stamp-*
m4
libemdiascan-*
libtool
Makefile.in
src/jenkins/.dirstamp
src/libdlna/.dirstamp
build/*
deplibs/*/

# Mac files
.DS_Store

# Misc stuff
*.bak

# Large Test stuff
test/data/video/dlna_individual/*

# Binaries
*.o
*.la
*.lo
test/*_test

# Win32 build stuff
*.obj
*.tlog
*.log
*.pdb
*.lastbuildstate
*.ipch
*.opensdf
*.suo
*.sdf
*.idb
*.cov
win32/Win32/*
win32/x64/*
win32/video_dlna_testDebug/*
win32/Debug Library/*
win32/Test/x64/*
win32/Test/Win32/*
test/video_dlna_testDebug/*
win32/pthreads_proj/Win32/*
win32/pthreads_proj/x64/*
win32/pthreads_proj/pthread.nativecodeanalysis*
.vs/*
win32/.vs/*

# Perl
Scan.xsc
Scan.c
Scan.bs
Makefile.old
META.yml
blib
pm_to_blib
README
Media-Scan*
bindings/perl/win32/include/*
bindings/perl/win32/lib/*
