language: c
stage: "Build"
os: linux
arch: ppc64le
compiler: clang
env: Everything=awesome

addons:
  apt:
    update: true
    packages:
      - nasm
      - rsync
      - zlib1g-dev
      - libmodule-install-perl
      - cpanminus
# This is added only because the latest version of libexif needs it
      - autopoint
      - gettext


install: true

script:
  - autoreconf -fi
#  - bash -o errexit buildme.sh -j 4
  - cd deplibs
  - bash -o errexit buildme-latest.sh -j 4


jobs:
  include:
  # We can't do matrix expansion across multiple OS's, because only linux has the various
  # versions of Perl built and available. Instead, we add all the various Perl/compiler
  # combinations as explicit include jobs.


  #######################################################
  #         Linux Perl version coverage tests           #
  #######################################################

  # Matrix hack: Declare same stage multiple times...
    - &xenial_ppc64le_alias
      arch: ppc64le
      os: linux
      dist: xenial
      language: c
      compiler: clang
      before_install:
        - eval "${MATRIX_EVAL}"

      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-3.9
          packages:
            - clang-3.9
      env:
        - MATRIX_EVAL="CC=clang-3.9 && CXX=clang++-3.9"
    # Subsequent instances use alias to test different versions of clang
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-4.0
          packages:
            - clang-4.0
      env:
        - MATRIX_EVAL="CC=clang-4.0 && CXX=clang++-4.0"
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-6.0
          packages:
            - clang-6.0
      env:
        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-7.0
          packages:
            - clang-7.0
      env:
        - MATRIX_EVAL="CC=clang-7.0 && CXX=clang++-7.0"
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - llvm-toolchain-xenial-8.0
          packages:
            - clang-8.0
      env:
        - MATRIX_EVAL="CC=clang-8.0 && CXX=clang++-8.0"
    - <<: *xenial_ppc64le_alias
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-9 main'
          key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-9
      env:
        - MATRIX_EVAL="CC=clang-9.0 && CXX=clang++-9.0"
